<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eksirsanat.ir">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Home.Product.Act_SeeAll_For_newAndPrice"></activity>
        <activity android:name=".Main_Home.Product.AShow_ListProduct.Act_ShowFirs_ListCat" />
        <activity android:name=".Main_Home.Product.AShow_ListProduct.Act_ShowListProduct" />
        <activity android:name=".Main_Home.Product.Filters_Product.Act_Filters_Product" />
        <activity android:name=".Panel_User.Fav.Act_FavList" />
        <activity android:name=".Panel_User.Panel.EditPanel.Act_List_Address" />
        <activity android:name=".Panel_User.Panel.EditPanel.Act_Add_Address" />
        <activity android:name=".Panel_User.Panel.EditPanel.Act_Edit_User" />
        <activity android:name=".Panel_User.Panel.Act_Main_Profile_User" />
        <activity android:name=".Panel_User.Act_ForgetPass" />
        <activity android:name=".Panel_User.Act_ChangePassword" />
        <activity android:name=".Panel_User.Act_Viryfy_Code" />
        <activity android:name=".Panel_User.Act_LoginActivity" />
        <activity
            android:name=".Panel_User.Act_Registeri"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Search_Product.Act_Search_Product" />
        <activity android:name=".Property_Header.stickyheader.Act_Property_Header" />
        <activity android:name=".ViewPager_Tablayout_Category.More_Category.Act_Cat_Home" />
        <activity android:name=".ViewPager_Tablayout_Category.Act_ViewPager_Category" />
        <activity android:name=".More_Product.More_Product" />
        <activity android:name=".Main_Home.Menu_Navigation.Act_About_Company" />
        <activity android:name=".Act_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash_Screen" />
    </application>

</manifest>